/* All the modified css goes in here */

body {
	background: #000;
	overflow: hidden;
}

header, div.header {
	margin-bottom: 0 !important;

	a.btn-navbar {
		margin-top: 18px !important;
	}

	.nav {
		height: 69px;
		>li {
			line-height: 50px;
		}
	}
}

.nav-collapse ul {
	z-index: 10;
	height: 100%;
	background: #000;
}

#gallery {
	padding: 0;
	margin: 0;

	.galleria-thumbnails-container {
		/*display: none;*/
	}
}

.contact {
	.address {
		color: white;
		font-size: 11px;
	}
	.contact-form {
		input[type="text"], textarea {
			background: rgb(68, 68, 68);
			border: 1px solid rgb(90, 90, 90);
			color: white;
		}
	}
}

.apusista {
	color: #fff;
	font-style: italic;
}

.index {
	z-index: 10;
	width: 345px;
	a {
		padding: 150px;
	}
}

.home {
	>div {
		cursor: pointer;
		min-height: 325px;
		.span6 {
			position: relative;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
	}
	.no-margin {
		margin: 0 !important;
	}
}

footer, div.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	.opacity(50);
	background: #000;

	>div {
		padding: 10px;
	}

	&:hover {
		.opacity(90);
	}

	.transition(e("all .5s"));
}
