/* All the modified css goes in here */

body {
	background: #000;
	overflow: hidden;
}

header {
	margin-bottom: 0 !important;

	a.btn-navbar {
		margin-top: 18px !important;
	}

	.nav {
		height: 69px;
		>li {
			line-height: 50px;
		}
	}
}

#gallery {
	padding: 0;
	margin: 0;

	.galleria-thumbnails-container {
		display: none;
	}
}
